.main {
    
        min-height: 93vh;
        display: flex;
        align-items: center;
        background-image: url("../../background.jpg");
        background-position: center;
        background-size: cover;
      }
      .introtext{
         
          text-align: center;
          margin-top: 0;
      }
      
      .introh1{
          padding: 10px;
      }
      .introp1{
        padding: 10px;
    }

